<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
<title>Sign up to Twitter</title>
</head>
<body>
<h1>Please sign up to Twitter</h1>
<form action="signup" method="post">
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="username" /></td>
                    
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input type="password" name="passwd" /></td>
                </tr>
               
                <tr>
                    <td><input type="submit" value="Signup"/></td>
                </tr>
            </table>
 </form>
</body>
</html>